{
    "arrowParens": "always",
    "bracketSpacing": true,
    "cursorOffset": -1,
    "embeddedLanguageFormatting": "auto",
    "useTabs": false,
    "endOfLine": "lf",
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "none"
}